include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2.db-h2 Кнопки

				.container-dashboard__content
					button.btn-primary Подробнее
					pre.
						.btn-primary Подробнее
					br
					a(href="#!").btn-dark Подробнее
					pre.
						a(href="#!").btn-dark Подробнее
					br
					div.dark-bg
						a(href="#!").btn-light Подробнее
						pre.
							a(href="#!").btn-light Подробнее
						input.btn-light(type="submit" value="Подробнее")
						pre.
							input.btn-light(type="submit" value="Подробнее")
					br
					
					a(href="#!").btn-outline Подробнее
					pre.
						a(href="#!").btn-outline Подробнее
					
					h2.db-h2 Кнопки disabled-добавить либо класс, либо атрибут disabled
					button.btn-primary.disabled Подробнее
					pre.
						.btn-primary.disabled Подробнее
					
					button.btn-primary(disabled) Подробнее
					pre.
						button.btn-primary(disabled) Подробнее
						

						
					