include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard
		
		include ui-navigation.pug

		block content
			.container-dashboard
				h2.db-h2 Цветовая схема
				.container-dashboard__content
	
					ul.color-scheme
						li
							span.color-box(style="background-color:#00adbb;")
							span.color-name --accent1: #00adbb;
						li
							span.color-box(style="background-color:#f5f5f5;")
							span.color-name --accent2: #008a95;
						li
							span.color-box(style="background-color:#f3f3f3;")
							span.color-name --accent3: #00666e;
						li
							span.color-box(style="background-color:#bb0e00;	")
							span.color-name --error: #bb0e00;
						li
							span.color-box(style="background-color: #fff;")
							span.color-name --white: #fff;
						
						li
							span.color-box(style="background-color:#000;")
							span.color-name  --black: #000;
						li
							span.color-box(style="background-color:#2e2f31;")
							span.color-name --primary: #2e2f31;
						li
							span.color-box(style="background-color: #54565a;")
							span.color-name  --primary1: #54565a;
						li
							span.color-box(style="background-color:#8b8c8f;")
							span.color-name --secondary: #8b8c8f;
						li
							span.color-box(style="background-color:#2c2c2c;#b5b6b8;")
						li
							span.color-box(style="background-color:#e2e3e3;")
							span.color-name --secondary2: #e2e3e3;
						li
							span.color-box(style="background-color:#f8f8f9;")
							span.color-name --secondary3: #f8f8f9;
						li
							span.color-box(style="background-color:rgba(248, 248, 249, 0.7);")
							span.color-name --secondary4: rgba(248, 248, 249, 0.7);