.about-promo 	.grid-column-left{
	display: flex;
	flex-direction: column;
	gap:30px;
	@media (max-width: 1023px) {
	gap:20px;
	}
   
	.about-promo-img__mobile{
		display: none;
		@media (max-width: 1023px) {
	     	display: block;
			img{
				aspect-ratio:388/280;
			}
		}
	}
	.grey-block, .primary-block{ gap:10px;}
	
}
.about-promo {
@media (max-width: 1023px) {
	gap:20px;
	.grey-block, .primary-block{
		.text-wrapper{
			font-size: 16px;
		  .fs-18{font-size: 16px;}
		  &>*+*{margin-top: 8px;}
		}
	
	}
	.grey-block .h1{
	font-size: 32px;
	}
}

}
.about-promo-img{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;

}
.about-promo .grid-column-right{
	@media (max-width: 767px) {
	display: none;
	}
}
