.about-promo .different-columns__wide{
	display: flex;
	flex-direction: column;
	gap:10px;

	.about-promo-img__mobile{
		display: none;
		@media (max-width: 1023px) {
	     	display: block;
			img{
				aspect-ratio:388/280;
			}
		}
	}
	@media (max-width: 1023px) {
	gap:20px;
	}
}
.about-promo-img{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;

}
.about-promo .different-columns__narrow{
	@media (max-width: 767px) {
	display: none;
	}
}