
.simple-list{
	ul {
		margin: 0;
		padding: 0;
		li{
			display: flex;
			align-items: baseline;
			gap:10px;
			
			&:before{
				content:'';
				width: 12px;
				height: 12px;
				flex-shrink: 0;
				border-radius: 50%;
				background: var(--accent1);
			}
		}
		
	}
}
.simple-list ol{
	margin: 0;
	padding: 0;
	list-style-type: none; 
	counter-reset: num;
	
li {
	position: relative;	
	padding-left: 33px;
	
}
li:before {
	content: counter(num); 
	counter-increment: num;
	display: inline-block;	
	position: absolute;
	top: -2px;
	left: 0;
	width: 15px;
	padding-left: 5px;   
	color: var(--accent1);
	font-weight: 700;
	// text-align: right;
	font-size: 24px;
	@media (max-width: 1023px) {
	
	width: 12px;
	font-size: 20px;
	
	}
}
}

.simple-list, .simple-list ol{

	display: flex;
	flex-direction: column;
	gap:20px;
	@media (max-width: 1199px) {
	gap:10px;
	}
}
.simple-list{
	li{
		font-weight: 500;
		font-size: 20px;
		line-height: 1.4;
		@media (max-width: 1199px) {
		font-size: 18px;
		}
	}
	
}
.additional-info .grey-block{
	@media(min-width:1200px){
		padding-block: 40px;
	}
}