
.simple-list{
	ul {
		margin: 0;
		padding: 0;
		li{
			display: flex;
			align-items: baseline;
			gap:10px;
			&:before{
				content:'';
				width: 12px;
				height: 12px;
				flex-shrink: 0;
				border-radius: 50%;
				background: var(--accent1);
			}
		}
		
	}
}
.simple-list ol{
	margin: 0;
	padding: 0;
	list-style-type: none; 
	counter-reset: num;
	
li {
	position: relative;	
	padding-left: 30px;
}
li:before {
	content: counter(num); 
	counter-increment: num;
	display: inline-block;	
	position: absolute;
	top: -5px;
	left: 0;
	width: 10px;    
	color: var(--accent1);
	font-weight: 700;
	// text-align: right;
	font-size: 28px;
}
}

.simple-list, .simple-list ol{

	display: flex;
	flex-direction: column;
	gap:20px;
	@media (max-width: 1199px) {
	gap:10px;
	}
}

.additional-info .grey-block{
	@media(min-width:1200px){
		padding-block: 40px;
	}
}