.apartment-card{
	background: var(--secondary3);
	border-radius: 40px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	width: 100%;
	&__img{
		height: 428px;
		width: 100%;
	}
	&__text{
		padding: 30px;
		display: flex;
		width: 100%;
		flex:1;
		flex-direction: column;
		gap:10px;
		.h-20{flex:1;}
		.fs-18{font-size: 18px;}
		*{color: var(--primary);} 
		@media (max-width: 1023px) {
		 padding: 40px 20px;
		}
	}
	@media (max-width: 1023px) {
		border-radius: 20px;
	   &__img{height: 407px;}
	}
	
}
.apartment-layouts{
	.section-header{
		@media (max-width: 1199px) {
		   display: grid;
		   grid-template-columns: 1fr;
		   gap:20px;
		}
		.btns-group{
			justify-content: flex-end;
		}
		@media (max-width: 767px) {
			text-align: center;
		 .btns-group{
			flex-direction: column;
			gap:10px;
		 }
		}
	}
}
.apartment-layouts-swiper{
	border-radius: 40px;
	.swiper-slide{
		height: unset;
		display: flex;
		width: 363px!important;
		@media (max-width:1023px) {
		  width: 388px!important;
		}
		@media (max-width: 419px) {
		  width: 345px!important;
		}
	}
	@media (max-width: 1023px) {
	border-radius: 20px 0 0 20px;
	}
}