.tabs-content {
  opacity: 0;
  transition: opacity .5s ease;
}
.tabs-nav{
	flex-wrap: wrap;
	row-gap:10px;
	@media (max-width: 399px) {
	gap:10px;
	}
}
.tabs-nav-btn{
	display: inline-flex;
	justify-content: center;
	border-radius: 30px;
	padding: 8px 16px;
	height: 38px;
	background: var(--accent1);
	font-weight: 500;
	font-size: 16px;
	color: var(--white);
	transition: .3s; 
	white-space: nowrap;
	transition: .3s; 
	&:hover{background: var(--accent3);}
	&.is-active{
		background: var(--primary)
	}
	&.is-active:hover{background: var(--accent3);}
}
.tabs-content.is-active {
  opacity: 1;
}
.tab-swiper{
	.swiper-slide{
		
		@media (max-width: 767px) {
		 width: 388px!important;
		}
		@media (max-width: 419px) {
		  width: 345px!important;
		}
	}
}
.building-content{
	position: relative;
	
	@media(min-width: 1024px){
	.swiper-button-next,
    .swiper-button-prev{
		transform: translateY(15px);
	}
	.swiper-button-next{top:0; right:0;}
	.swiper-button-prev{top:0; left: auto; right: 62px;}
	}
}