.documents{
	ul, ol{
		list-style-type: none;
		margin: 0;
		padding: 0;;
	}
}
.document-link{
	display: flex;
	align-items: center;
	width: 100%;
	border-radius: 20px;
    padding: 24px 20px;
	background-color: #fff;
	gap:14px;
	transition: .2s; 
	.fs-16{flex:1;transition: .2s; }
	.document-link__icon{
		flex-shrink: 0;
		width: 25px;
		height: 25px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	svg{
		color: var(--accent1); transition: .2s; 
		width: 25px;
		height: auto;
	}
}
.documents-type{
	border-radius: 40px;
	padding: 40px 30px;
	background: var(--secondary3);
	display: grid;
	grid-template-columns: 1fr;
	gap:20px;
	@media (max-width: 1023px) {
		padding:20px;
	}
}
.documents-list{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap:30px 20px;
	@media (max-width: 1023px) {
	grid-template-columns: 1fr;
	gap:10px
	}
}
.document-link:hover{
	background-color: var(--accent1);
	&>*{
		color: white;
	}
	svg{color: white;}
}
.documents-content{
	display: flex;
	flex-direction: column;
	gap:40px;
	&>*{width: 100%;}
	
}