.faq .container {max-width: 1016px; width: 100%;}

.acordion-wrapper .acordion-button{
	display: flex;
	padding: 20px;
	cursor:pointer;
	display: flex;
	align-items: center;
	column-gap:16px;
	@media (max-width: 767px) {
	 padding-bottom: 10px;
	}
}
.acordion-item{
	border: 1px solid #e1e3ef;
	border-radius: 20px;
	&:hover{
		.acordion-item__title{color: var(--accent1);}
	}
}
.acordion-item +.acordion-item{margin-top: 10px;}
.acordion-wrapper .acordion-item__title{
	flex-grow: 1;
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 18px;
	line-height: 140%;
	color: var(--primary);
	transition: .3s; 
	
}
.acordion-wrapper  .acordion-item__icon{
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.44804 6.01936C3.67399 5.79342 4.04032 5.79342 4.26626 6.01936L9.00001 10.7531L13.7338 6.01936C13.9597 5.79342 14.326 5.79342 14.552 6.01936C14.7779 6.24531 14.7779 6.61164 14.552 6.83759L9.40912 11.9804C9.18318 12.2064 8.81684 12.2064 8.5909 11.9804L3.44804 6.83759C3.2221 6.61164 3.2221 6.24531 3.44804 6.01936Z' fill='%232E2F31' /%3e%3c/svg%3e");
	background-size:30px 30px;
	transition: .2s;
}
.acordion-wrapper  .acordion-body{
	max-height:0;
	overflow: hidden;
	transition: height .3s, max-height 0.3s;
	
}
.acordion-body__content{
	padding: 20px;
	padding-top: 0;
	font-weight: 400;
	font-size: 18px;
	line-height: 140%;
	color: var(--primary1);
}
.acordion-item.acordion-item--active {
	.acordion-item__title{color: var(--accent1);}

	.acordion-item__icon{
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.44804 6.01936C3.67399 5.79342 4.04032 5.79342 4.26626 6.01936L9.00001 10.7531L13.7338 6.01936C13.9597 5.79342 14.326 5.79342 14.552 6.01936C14.7779 6.24531 14.7779 6.61164 14.552 6.83759L9.40912 11.9804C9.18318 12.2064 8.81684 12.2064 8.5909 11.9804L3.44804 6.83759C3.2221 6.61164 3.2221 6.24531 3.44804 6.01936Z' fill='%2300adbb' /%3e%3c/svg%3e");
		transform: rotate(180deg);
	}
}