.feedback{
	@media (max-width: 1023px) {
	position: relative;
	overflow: hidden;
	.container{
		padding-left: 0;
		padding-right: 0;
	}
	&:after{
		content:'';
		position: absolute;
		width: 100vw;
		top: 0;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		background: var(--accent1);
	}
	}
}
.feedback-content{
	padding: 0 60px;
	position: relative;
	z-index: 2;
	.h2{color: white;}
	.form-agree a{
		color: var(--primary);
		transition: .3s;
		padding-left: 3px;
		padding-right: 3px; 
		&:hover{opacity: .7;}
	}
	.feedback-form-wrapper{
		padding-top: 125px;
		padding-bottom: 125px;
	}
	.feedback-form{
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		
		.form-item{flex: 1;}
		// .btn-dark{flex-shrink: 0;}
		.form-agree{
			flex-grow: 1;
			order:10;
			font-size: 14px;
			min-width: 100%;
		}
	}
	@media (max-width: 1364px) {
	.feedback-form-wrapper{
		padding-top: 80px;
		padding-bottom: 80px;
		
	}
	}
	@media (max-width: 1199px) {
	  grid-template-columns: 1fr;
	  
	  .feedback-picture{
		display: none;
	  }
	}
	@media (max-width: 1023px) {
	.feedback-form-wrapper{padding: 0;}
	}
	@media (max-width: 767px) {
	.feedback-form{
		flex-direction: column;
		.form-agree{order:unset;}
	}
	@media (max-width: 419px) {
	.feedback-form  .form-agree .fs-14{font-size: 12px;}
	}
	}
}
.feedback-picture{
	position: relative;
	padding-top: 60px;
	display: flex;
	align-items: flex-end;
}
.feedback-picture img{
	height: auto;
	width: 100%;
	max-height: 390px;
	aspect-ratio: 594/390;
}