.gallery-card{
	overflow: hidden;
	border-radius: 40px;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		aspect-ratio: 493/320;
	}
	@media (max-width: 1199px) {
	  border-radius: 20px;
	}
	@media (max-width: 767px) {
	  border-radius: 20px;
	  img{
		aspect-ratio: 388/280;
	  }
	}
}

.swiper-container{
	position: relative;
	
	@media (min-width: 1024px) {
	  .gallery-swiper-prev,
		.gallery-swiper-next{
			top: unset;
			left: unset;
			right: unset;
			transform: translateY(0);
			top:-72px;
			right:0;
		}
		.gallery-swiper-prev{
			right: 112px;
		}
	}
}
.gallery-swiper .swiper-slide{
	@media (max-width: 767px) {
	  width: 388px!important;
	}
}