.header{
	position: sticky;
	top: 0;
	padding-top: 15px;
	height: 115px;
	z-index: 10;
	background-color: #fff;
	@media (max-width: 767px) {
	height: 97px;
	padding-top: 10px;
	}
	.container{
		display: flex;
		align-items: center;
		column-gap:40px;
		@media (max-width: 1279px) {
		  justify-content: space-between;
		}
		@media (max-width: 1023px) {
		padding-left: 20px;
		padding-right: 20px;
		}
		
	}
	
	.header-container{
		flex-grow:1;
		@media (max-width: 1279px) {
			position: fixed;
			top:98px;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 20;
			background-color: rgba(0,0,0, .5);
			display: flex;
			justify-content: flex-end;
			transform: translateX(110%);
			transition: .3s;
			 border-top: 1px solid var(--secondary2);
			
			&.active{transform: translateX(0);}

		}
	}
	.header-container__content{
		display: flex;
		align-items: center;
		column-gap:40px;
		@media (max-width: 1279px) {
		   width: 100%;
		   max-width: 430px;
		   background-color: #fff;
		   flex-direction: column;
		   justify-content: space-between;
		   row-gap: 20px;
		    padding-bottom: 50px;
		   
		}
	}
	.header-group{
		flex-shrink: 0;
		display: flex;
		column-gap:20px;
		@media (max-width: 1279px) {
		 flex-direction: column;
		 align-items: center;
		 row-gap:20px;
		 text-align: center;
		 width: 100%;
		 padding-left: 20px;
		 padding-right: 20px;
		}
	}
	.phone-link{
		@media (max-width: 1439px) {
			svg,img{display: none;}
		}
		@media (max-width: 1279px) {
		   svg,img{display:block;}
		}
	}
	@media (max-width: 1919px) {
		padding-top: 15px;
		.container{
			width: 100vw;
			padding-left: 40px;
			padding-right: 40px;
		}
		.btn-primary{
			padding-left: 26px;
			padding-right: 26px;
		}
		.phone-link{
			font-size: 18px;
		}
	}
	
}
.custom-logo-link{
	max-width: 112px;
	min-width: 80px;
	width: 7vw;
	flex-shrink: 0;
	svg{width: 100%;}
	@media (max-width: 767px) {
	width: 80px;
	}
}