
.title-mobile{
	display: none;
	@media (max-width: 767px) {
		display: block;
	}
}
.title-desk{
	display: block;
	@media (max-width: 767px) {
		display: none;
	}
}
.picture-two-columns{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap:30px;
	.preview-image{flex:1;}
	.preview-image img{
		aspect-ratio: 755/360;
		@media (max-width: 767px) {
		  aspect-ratio:388/280;
		}
	}
	@media (max-width: 1199px) {
	   gap:20px;
	}
	@media (max-width: 767px) {
		grid-template-columns: 1fr;
	    gap:10px;
	}
}
.info-preview{
	.text-wrapper-mobile{display:none}
	@media (max-width: 1023px) {
	.text-wrapper-desktop{display:none}
	.text-wrapper-mobile{display:block}
	}
}