.master-plan-gallery{
	position: relative;
	.btn-round{
		position: absolute;
		top: 30px;
		right: 30px;
		z-index: 2;
	}
	.img-cover{
		width: 100%;
		aspect-ratio: 755/590;
		@media (max-width: 767px) {
		 aspect-ratio:388/420;
		}
	}
}
.master-plan .grid-two-columns{
	@media (max-width: 1023px) {
	gap:40px;
	}
}