.promo-picture{
	width: 100%;
	img{
		aspect-ratio: 1540/520;
		@media (max-width: 767px) {
		  aspect-ratio:388/280;
		}
	}
}
.single-news-content{
	gap:30px;
	.promo-text{
		line-height: 1.4;
	}
	@media (max-width: 1023px) {
	  gap:20px;
	}
}