.hews-card{
	display: flex;
	flex-direction: column;
	border-radius: 40px 40px 0 0;
	overflow: hidden;
	&__img{
		width: 100%;
		aspect-ratio: 493/320;
		height: 320px;
		flex-shrink: 0;
		border-radius: 40px;
	}
	&__img img{
		object-fit: cover;
		width: 100%;
		height: 100%;
		border-radius: 40px;
	}
	&__text{
		flex-grow: 1;
		display: grid;
		grid-template-columns: 1fr;
		gap:10px;
		padding-top: 30px;
	}
	.fs-16{
		color: var(--secondary);
		font-weight: 500;
	}
	@media (max-width: 1364px) {
		border-radius: 20px 20px 0 0 ;
		&__img img{border-radius: 20px;}
		&__text{padding-top: 20px;}
	}
}