.project-tour{
	.grid-column-left{
		position: relative;
		display: flex;
		.project-tour__title{
			position: absolute;
			top: 27px;
			left: 30px;
			z-index: 2;
			color: white;
			@media (max-width: 1364px) {
				
				left: 20px;
			}
		}
	}
	.section-header{
		margin-bottom: 40px;
		
	}
	@media (max-width: 1023px) {
		.grid-column{
			display: grid;
			grid-template-columns: 1fr;
			gap:20px;
		}
	
	}
}
.project-tour-swiper{
	.offer-card__header, .offer-card__footer{
		display: flex;
		justify-content: flex-end;
	}
	
	@media(min-width: 768px){
		.promo-swiper-prev{
			top: auto;
			left:30px;
			bottom: 30px;
			transform: translateY(0);
		}
		.promo-swiper-next{
			top: auto;
			right: auto;
			left:92px;
			bottom: 30px;
			transform: translateY(0);
		}
	}
	@media (max-width: 767px) {
		height: auto;
		.offer-card__img img{
			aspect-ratio:388/420;
		}

	.offer-card__footer{justify-content: center;}
	}
}
.promo-swiper-wrapper{
	position: relative;
}
.download-button{
	position: absolute;
	right: 30px;
	bottom: 30px;
	z-index: 3;
	@media (max-width: 767px) {
	 right: auto;
	 left:50%;
	 transform: translateX(-50%);
	 bottom:20px;
	}
}
.main-page .promo .grid-column-left{display: flex;}
.fancybox__content img{
	border-radius: 40px;
	@media (max-width: 1279px) {
	border-radius: 20px;
	}
}

.grid-column.grid-column--gallery{
	grid-template-columns: 1fr;
	.offer-card{aspect-ratio: 1570/700; max-height: 700px;}
	.promo-links.grid-column-right{display: none;}
}
@media(min-width:1024px){
.grid-column.grid-column--special{
	.promo-links > *{aspect-ratio:unset; height: 100%;}
}
}
.offer-card.card-tour{
	background-color: var(--accent1);
	
}
.offer-card.card-cam{
	background-color:rgb(0, 102, 110);

}
.offer-card.card-tour,.offer-card.card-cam{
	transition: .3s; 
	.offer-card__content{row-gap:10px;}
	svg{transition: .3s; }
	&:hover{
		background-color:#008a95;
		svg{
			transform: scale(1.25);
		}
	}
	@media (max-width: 1199px) {
	.offer-card__content{.h-28{font-size: 20px;}}
	}
}
