.project-card{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 530px;
	border-radius: 40px;
	background-size: cover;
	background-repeat: no-repeat;
	transition: .5s; 
	padding: 30px;
	&__content{
		background: var(--accent1);
		padding: 30px;
		border-radius: 0 0 40px 40px;
		font-weight: 500;
		display: grid;
		grid-template-columns: 1fr;
		row-gap:10px;
		left: 0; right: 0; bottom: 0;
		 position: absolute;
		left: 0;
		right: 0;
		bottom: 0;

		transform: translateY(250px);
		transition: transform .5s;
		will-change: transform;
		transition: .5s; 
		z-index: 3;
		
		*{font-weight: 500; color: white;}
		.btn-outline{
			color: var(--primary);

		}
		@media (max-width: 1439px) {border-radius: 30px;}
		@media (max-width: 1364px) {transform: translateY(220px); padding: 20px;}

	     @media (max-width: 1023px) {border-radius: 0 0 20px 20px;}
	}
	
	

	&__content{
		position: absolute;
		left: 0; right: 0; bottom: 0;
		z-index: 3;

		transform: translateY(250px); 
		transition: transform .5s;
		will-change: transform;
	}
    
	
	&__title{
		justify-content: space-between;
		.fs-20{margin-left: auto;}
		
	}
	&__list{
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: grid;
		grid-template-columns: 1fr;
		gap:4px;
		padding-top: 30px;
	}
	&__link{
		display: flex;
		justify-content: space-between;
		column-gap: 20px;
		white-space: nowrap;
		transition: .3s;
		.fs-16{flex:1;transition: .3s;}
		.fs-20{
			flex-shrink: 0;transition: .3s;
		}
		&:hover{
			.fs-16, .fs-20{color: var(--accent3)!important;}
			
		}
	}
	&__btns{
		column-gap:20px;
		position: relative;
		&>*{flex:1; padding-left: 10px;
		padding-right: 10px;}
		
	}

  @media (max-width: 1439px) {border-radius: 30px;}
  @media (max-width: 1364px) {
	  height: 480px;
	  padding: 20px;
	.fs-24{font-size: 20px;}
	.fs-20{font-size: 16px;}
  }
  	@media (max-width: 1023px) {border-radius: 20px;}
}
.project-card{
 
  &__hotspot{
    position: absolute;
    left: 0; right: 0; bottom: 0;
    height: 20px;
    z-index: 5;
    background: transparent;
  }

  
  &__hotspot:hover ~ &__content,
  &__content:hover{
    transform: translateY(0);
	border-radius: 20px;
  }
}