.grid-column-left{
	overflow: hidden;
}
.promo-swiper{
	.swiper-wrapper{
		display: flex;
	}
	.swiper-slide{
		// border-radius: 40px;
		height: unset;
	}
	@media (max-width: 767px) {
		height:calc(100dvh - 150px);
	  .offer-card{
		height:100%;
		aspect-ratio:unset;
		.tags-block{display: none;}
	  }
	  .offer-card__img{
		height: 100%;
	  }
	}
}
.promo-links{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap:var(--gap);
	&>*{width: 100%; height: calc((100% - var(--gap)) / 2);}
	@media (max-width: 1023px) {
		margin-top: 40px;
	  &>*{height: auto;}
	}
	
}
.promo .swiper-button-next,
.promo .swiper-button-prev{
	opacity: 0;
	background-color: var(--secondary44);
}

.promo .swiper:hover{
	.swiper-button-next,
    .swiper-button-prev{
		opacity: 1;
		
		&:hover{
			background-color: white;
			&:after{color: #00666E;}
		}
	}
}