.promo-swiper{
	.swiper-wrapper{
		display: flex;
	}
	.swiper-slide{
		border-radius: 40px;
		height: unset;
	}
}
.promo-links{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&>*{width: 100%;}
}