.project-tour{
	.grid-column-left{
		position: relative;
		display: flex;
		.project-tour__title{
			position: absolute;
			top: 27px;
			left: 30px;
			z-index: 2;
			color: white;
			@media (max-width: 1364px) {
				
				left: 20px;
			}
		}
	}
	.section-header{
		margin-bottom: 40px;
		
	}
	@media (max-width: 1023px) {
		.grid-column{
			display: grid;
			grid-template-columns: 1fr;
			gap:20px;
		}
	
	}
}
.project-tour-swiper{
	.offer-card__header, .offer-card__footer{
		display: flex;
		justify-content: flex-end;
	}
	
	@media(min-width: 768px){
		.promo-swiper-prev{
			top: auto;
			left:30px;
			bottom: 30px;
			transform: translateY(0);
		}
		.promo-swiper-next{
			top: auto;
			right: auto;
			left:92px;
			bottom: 30px;
			transform: translateY(0);
		}
	}
	@media (max-width: 767px) {
		height: auto;
		.offer-card__img img{
			aspect-ratio:388/420;
		}

	.offer-card__footer{justify-content: center;}
	}
}
.fancybox__content img{
	border-radius: 40px;
	@media (max-width: 1279px) {
	border-radius: 20px;
	}
}