.project-card{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 530px;
	border-radius: 40px;
	background-size: cover;
	background-repeat: no-repeat;
	transition: .5s; 
	padding: 30px;
	&__content{
		background: var(--accent1);
		padding: 30px;
		border-radius: 40px;
		font-weight: 500;
		display: grid;
		grid-template-columns: 1fr;
		row-gap:10px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -250px;
		transition: .5s; 
		z-index: 3;
		*{font-weight: 500; color: white;}
		.btn-outline{
			color: var(--primary);

		}
		
	}
	&__list{
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: grid;
		grid-template-columns: 1fr;
		gap:4px;
		padding-top: 30px;
	}
	&__link{
		display: flex;
		justify-content: space-between;
		column-gap: 20px;
		white-space: nowrap;
		transition: .3s;
		.fs-16{flex:1;transition: .3s;}
		.fs-20{
			flex-shrink: 0;transition: .3s;
		}
		&:hover{
			.fs-16, .fs-20{color: var(--accent3)!important;}
			
		}
	}
	&__btns{
		column-gap:20px;
		&>*{flex:1;}
	}
  &:hover{
	background-position: 0 -100px;
	.project-card__content{
		bottom: 0;
		.project-card__list{padding-top: 0;}
	}
  }
}