//about politic
section.about-politic
	.container.gap-30
		h2.h2.mb-40 Политика в области экологии, охраны здоровья и обеспечения безопасности труда
		.h-20 Осознавая важность обеспечения стабильной работы с сохранением жизни и здоровья своих сотрудников, а также минимальным ущербом для окружающей среды, руководство ООО СЗ «СТК-59», устанавливает соответствующие цели и принимает на себя следующие обязательства:
		.grey-block
			.simple-list
				ul.column-count-two.h-20
					li Рациональное использовать все виды ресурсов при СМР с целью уменьшения вредного воздействия на окружающую среду и предотвращения её загрязнению
					li Обеспечивать безопасность труда и сохранение здоровья всего персонала путём принятия предупреждающих мер по недопущению травм и ухудшения здоровья
					li Доводить до каждого работника информацию о выявленных опасностях и рисках профессиональной безопасности и здоровья на рабочих местах
					li Поддерживать на высоком уровне и постоянно улучшать подготовку сотрудников в области охраны труда путём организации качественного обучения
					li Обеспечивать персонал современными средствами коллективной и индивидуальной защиты
					li Обеспечивать функционирование всех уровней производственного контроля за соблюдением и выполнением на рабочих местах законодательных и других требований в области профессиональной безопасности и здоровья
					li Повышать уровень ответственности и обеспечивать вовлеченность каждого работника, независимо от его профессии или должности, в соблюдение обязанностей в области охраны здоровья и безопасности труда
					li Обеспечение доступности достоверной информации о состоянии охраны труда в компании, как от работодателя к работнику, так и в обратном направлении
					li Постоянное совершенствование системы управления охраной труда для поддержания её в виде, соответствующем текущим потребностям общества