//about promo
section.about-promo
	.container
		.different-columns
			.different-columns__wide
				.grey-block
					h1.h1 О компании
					.text-wrapper
						p «СТК-59» — одна из ведущих строительных компаний Северной Осетии, работающая на рынке недвижимости c 2003 года. Сегодня в активе компании много реализованных, строящихся и разрабатываемых проектов в сфере жилой недвижимости.
						p Взвешенный подход к формированию цен, а также наличие партнёрских программ с ведущими банками в сфере ипотечного кредитования, позволяют купить квартиру в новостройке от ООО «СТК-59» на самых привлекательных условиях.
				.about-promo-img__mobile
					picture
						img.img-cover.br-40(src='./img/about-promo.webp' srcset="./img/about-promo@2x.webp 2x" width='388' height='280' loading='lazy' alt='img')
				
				.primary-block
					.h3 Надёжность и развитие
					.text-wrapper
						p Компания «СТК-59» совмещает многолетний опыт с современными подходами в строительстве, создавая качественное и комфортное жильё. Её деятельность направлена не только на возведение объектов, но и на формирование доверительных отношений с клиентами и партнёрами.
						p Приоритетом является комплексная ответственность: перед дольщиками, сотрудниками и обществом в целом. Это позволяет компании уверенно развиваться, внося значимый вклад в строительную отрасль и архитектурный облик региона.
						p Стратегия компании нацелена на перспективу, что гарантирует стабильность и исполнение всех взятых на себя обязательств в долгосрочной перспективе. Сотрудничество с «СТК-59» - уверенность в завтрашнем дне.
			
			.different-columns__narrow
				.about-promo-img.br-40(style="background-image:image-set(url('./img/about-promo.webp') 1x, url('./img/about-promo@2x.webp') 2x)")
				