//Примеры планировок
section.apartment-layouts.section-dark
	.container
		.section-header.d-flex
			h2.h2 Примеры планировок
			.btns-group
				button.btn-light(type="button") Расчет первоначального взноса
				a.btn-primary(href="#!") Выбрать квартиру