//BENEFITS
section.benefits.section-dark
	.container
		.benefits-content.d-grid
			.benefit-item.br-40
				.fs-90 2003
				.fs-28 год основания
			.benefit-item.br-40
				.fs-90 38
				.fs-28 сданных объектов
			.benefit-item.br-40
				.fs-90 31
				.fs-28 жилой комплекс
			.benefit-item.br-40
				.fs-90 7
				.fs-28 объектов социальной инфраструктуры
			.benefit-item.benefit-item--accent.br-40
				.fs-90 >&nbsp;3000
				.fs-28 счастливых обладателей<br>недвижимости
				.benefit-item__img
					img(src='./img/city.webp', srcset='./img/city@2x.webp 2x' width='671' height='451' loading='lazy' alt='img')