//DOCUMENTS
section.documents
	.container
		h1.h1.bottom-40 Документы
		.documents-content
			//SINGLE TYPE
			.documents-type
				.h3 Эко-квартал 
				ul.documents-list
					li
						a.document-link(href="docs.pdf")
							span.fs-16 Разрешение на ввод в эксплуатацию позиции 1
							span.document-link__icon
								svg.svg-doc
									use(href='./img/sprite.svg#svg-doc')
					li
						a.document-link(href="docs.pdf")
							span.fs-16 Разрешение на ввод в эксплуатацию позиции 1
							span.document-link__icon
								svg.svg-doc
									use(href='./img/sprite.svg#svg-doc')
					
					li
						a.document-link(href="docs.pdf")
							span.fs-16 Разрешение на ввод в эксплуатацию позиции 1
							span.document-link__icon
								svg.svg-doc
									use(href='./img/sprite.svg#svg-doc')
					
					li
						a.document-link(href="docs.pdf")
							span.fs-16 Разрешение на ввод в эксплуатацию позиции 1
							span.document-link__icon
								svg.svg-link-shear
									use(href='./img/sprite.svg#svg-link-shear')

			//SINGLE TYPE
			.documents-type
				.h3 Сердце столицы
				ul.documents-list
					li
						a.document-link(href="docs.pdf" )
							span.fs-16 Разрешение на ввод в эксплуатацию позиции 1
							span.document-link__icon
								svg.svg-doc
									use(href='./img/sprite.svg#svg-doc')
					
					li
						a.document-link(href="docs.pdf")
							span.fs-16 Проектная декларация №00-111111
							span.document-link__icon
								svg.svg-doc
									use(href='./img/sprite.svg#svg-doc')
					
					li
						a.document-link(href="docs.pdf")
							span.fs-16 Раскрытие информации
							span.document-link__icon
								svg.svg-link-shear
									use(href='./img/sprite.svg#svg-link-shear')
			//SINGLE TYPE
			.documents-type
				.h3 Правовая информация
				ul.documents-list
					li
						a.document-link(href="docs.pdf" )
							span.fs-16 Политика конфиденциальности
							span.document-link__icon
								svg.svg-doc
									use(href='./img/sprite.svg#svg-doc')
					
					li
						a.document-link(href="docs.pdf")
							span.fs-16 Политика обработки персональных данных
							span.document-link__icon
								svg.svg-doc
									use(href='./img/sprite.svg#svg-doc')
					