section.faq
	.container
		h2.h3.mb-40 Ответы на вопросы 
		.acordion-wrapper(data-mode='single')
			// single item 
			.acordion-item.acordion-item--active
				.acordion-button
					.acordion-item__title Возможно ли приобрести квартиру в рассрочку без первоначального взноса?
					.acordion-item__icon
						
				.acordion-body
					.acordion-body__content
						p В тексте договора купли-продажи имеется различие, заключающееся в указании способа и условий оплаты (в рассрочку). Однако, процесс оформления такой же, как при полной единовременной оплате квартиры. Для совершения сделки необходимо предоставить паспорт и сумму первоначального взноса.
			// single item 
			.acordion-item
				.acordion-button
					.acordion-item__title Какие отличия есть между оформлением рассрочки и стандартной сделки?
					.acordion-item__icon
				.acordion-body
					.acordion-body__content
						p В тексте договора купли-продажи имеется различие, заключающееся в указании способа и условий оплаты (в рассрочку). Однако, процесс оформления такой же, как при полной единовременной оплате квартиры. Для совершения сделки необходимо предоставить паспорт и сумму первоначального взноса.
			// single item 
			.acordion-item
				.acordion-button
					.acordion-item__title На какой срок можно получить рассрочку?
					.acordion-item__icon
				.acordion-body
					.acordion-body__content
						p В тексте договора купли-продажи имеется различие, заключающееся в указании способа и условий оплаты (в рассрочку). Однако, процесс оформления такой же, как при полной единовременной оплате квартиры. Для совершения сделки необходимо предоставить паспорт и сумму первоначального взноса.
			// single item 
			.acordion-item
				.acordion-button
					.acordion-item__title Как оформить рассрочку на покупку квартиры от застройщика?
					.acordion-item__icon
				.acordion-body
					.acordion-body__content
						p В тексте договора купли-продажи имеется различие, заключающееся в указании способа и условий оплаты (в рассрочку). Однако, процесс оформления такой же, как при полной единовременной оплате квартиры. Для совершения сделки необходимо предоставить паспорт и сумму первоначального взноса.

		