//FOOTER
footer.footer
	.container-large
		.footer-top
			.custom-logo-link
				a.custom-logo(href="index.html")
					svg.svg-logo
						use(href='./img/logo.svg#svg-logo')
			ul.footer-nav.d-flex
				li.footer-nav-item
					a.footer-nav-link(href="") О компании
				li.footer-nav-item
					a.footer-nav-link(href="") Проекты
				li.footer-nav-item
					a.footer-nav-link(href="") Способы покупки
				li.footer-nav-item
					a.footer-nav-link(href="") Ипотека
				li.footer-nav-item
					a.footer-nav-link(href="") Рассрочка от застройщика
				li.footer-nav-item
					a.footer-nav-link(href="") Контакты
			.footer-group.d-flex
				a(href="#!").messenger-link
					svg.svg-whatsapp
						use(href='./img/social.svg#svg-whatsapp')
				a.btn-primary(href="mailto:")
					span Напишите нам
					svg.svg-email
						use(href='./img/sprite.svg#svg-email')
		.footer-center
			.contact-item
				.fs-20.fw-500 Обратная связь
				a.fs-20.hover-accent(href="tel:+78672995959") +7 (8672) 99 59 59
			.contact-item
				.fs-20.fw-500 Режим работы
				.fs-20 с 10.00 до 20.00 с Пн. по Сб.
			.contact-item
				.fs-20.fw-500 Адрес
				.fs-20 РСО-Алания, г. Владикавказ, ул. Доватора, 1Г
		
		.footer-bottom
			p.fs-14.fw-500 © 2025 | ООО «СТК-59» | Все права защищены
			nav.footer-legal.d-flex
				a.link.fs-14(href="") Разрешительная документация
				a.link.fs-14(href="") Политика конфиденциальности
				a.link.fs-14(href="") Политика обработки персональных данных