//GALLERY SLIDER
section.project-gallery
	.container
		h2.h4.mb-40 Фотографии проектов
		
		.swiper-container
			//swiper nav
			.swiper-button-prev.gallery-swiper-prev.accent-hover
			.swiper-button-next.gallery-swiper-next.accent-hover
			
			//swiper slider
			.gallery-swiper.swiper
				.swiper-wrapper
					//slide
					.swiper-slide
						a(href="./img/galery-news@2x.webp" data-fancybox="projects").gallery-card.card-hover
							picture
								img.img-cover(src='./img/galery-news.webp', srcset='./img/galery-news@2x.webp 2x' width='493' height='320' loading='lazy' alt='img')
							
					//slide
					.swiper-slide
						a(href="./img/galery-news2@2x.webp" data-fancybox="projects").gallery-card.card-hover
							picture
								img.img-cover(src='./img/galery-news2.webp', srcset='./img/galery-news2@2x.webp 2x' width='493' height='320' loading='lazy' alt='img')
					//slide
					.swiper-slide
						a(href="./img/galery-news3@2x.webp" data-fancybox="projects").gallery-card.card-hover
							picture
								img.img-cover(src='./img/galery-news3.webp', srcset='./img/galery-news3@2x.webp 2x' width='493' height='320' loading='lazy' alt='img')
					//slide
					.swiper-slide
						a(href="./img/galery-news@2x.webp" data-fancybox="projects").gallery-card.card-hover
							picture
								img.img-cover(src='./img/galery-news.webp', srcset='./img/galery-news@2x.webp 2x' width='493' height='320' loading='lazy' alt='img')