//PROMO
section.promo.banner-promo
	.container
		.offer-card.offer-card--banner.offer-card--end
			.offer-card__img
				picture
					source(srcset="./img/info-promo-w480.webp 1x, ./img/info-promo-w480@2x.webp 2x" media="(max-width:767px)" type="image/webp")
					img.img-cover(src='./img/info-promo.webp', srcset='./img/info-promo@2x.webp 2x' width='1540' height='720'  alt='img')
			
			.offer-card__content
				.offer-card__header
					.offer-card__title
						.h1 Расчет стоимости<br>приобретения жилья
				
				.offer-card__footer
					.btns-group
						button.btn-light.xs-100(type="button") Получить консультацию
						button.btn-primary.xs-100(type="button") Кредитный калькулятор