//О ПРОЕКТЕ
section.about-news
	.container
		.about-news-content.grid-two-columns-1024
			.preview-text.flex-column
				h2.h2 Ключевые особенности проекта «Центральный Парк»
				.text-wrapper
					p Новый квартал разрабатывался с учётом последних тенденций в градостроительстве и пожеланий будущих жителей. Мы создаём пространство, где каждая деталь направлена на повышение качества жизни. В пешей доступности будут расположены социальные объекты, магазины и кафе. Применение энергоэффективных материалов и технологий позволит жителям экономить на коммунальных услугах.
			
			.about-news-image.preview-image
				img.img-cover.br-40(src='./img/news-desk.webp', srcset='./img/news-desk@2x.webp 2x' width='755' height='520' loading='lazy' alt='img')
