//О ПРОЕКТЕ
section.about-news
	.container
		
		.about-news-content.grid-two-columns-1024
			.preview-text.flex-column
				h2.h2 Ключевые особенности проекта «Центральный Парк»
				.text-wrapper
					p Новый квартал разрабатывался с учётом последних тенденций в градостроительстве и пожеланий будущих жителей. Мы создаём пространство, где каждая деталь направлена на повышение качества жизни. В пешей доступности будут расположены социальные объекты, магазины и кафе. Применение энергоэффективных материалов и технологий позволит жителям экономить на коммунальных услугах.
			
			.about-news-image.preview-image
				img.img-cover.br-40(src='./img/news-desk.webp', srcset='./img/news-desk@2x.webp 2x' width='755' height='520' loading='lazy' alt='img')

section.additional-info
	.container.gap-40
		.grey-block
			.h4 Инфраструктура квартала
			.simple-list.simple-list--three-columns.fs-20
				ul
					li Собственный детский сад и школа
					li Подземный и наземный паркинг
					li Фитнес-центр и спортивные площадки
					li Скверы и прогулочные зоны
					li Детские игровые комплексы
					li Зоны для отдыха и барбекю
					li Умная система видеонаблюдения и контроля доступа
					li Автономные источники энергоснабжения
					li Система «умный дом» в общественных зонах
		
		.grey-block
			.h4 Инфраструктура квартала
			.grid-three-columns
				.simple-list.fs-20
					.h-24 Этапы реализации проекта
					ol
						li Подготовка площадки и нулевой цикл
						li Возведение каркасов и коробок зданий
						li Фасадные и отделочные работы
				
				.simple-list.fs-20
					.h-24 Сроки сдачи объектов
					ol
						li I очередь — IV квартал 2025 г.
						li II очередь — II квартал 2026 г.
						li III очередь — I квартал 2027 г.

				.simple-list.fs-20
					.h-24 Порядок действий для покупки
					ol
						li Выбор планировки и заключение договора
						li Оформление ипотеки или рассрочки
						li Поэтапная оплата и сдача объекта

section.cta.section-dark
	.container
		.cta-txt
			p.fs-28 Дом — это не просто место, где ты живёшь. Это место, где начинается твоя история. Начните новую главу вашей жизни в квартале «Центральный Парк».



