//PROMO
section.promo.banner-promo
	.container
		.single-news-content.flex-column
			h1.h1 СТК-59 приступила к строительству нового жилого квартала «Центральный Парк»
			.promo-picture
				img.img-cover.br-40(src='./img/news-promo.webp', srcset='./img/news-promo@2x.webp 2x' width='1540' height='520' loading='lazy' alt='img')
			.promo-text.fs-18
				p Строительная компания СТК-59 официально объявила о начале работ по возведению нового современного жилого квартала «Центральный Парк» в престижном районе города. Этот масштабный проект сочетает в себе передовые технологии строительства, продуманную архитектуру и комфортную среду для жизни. Мы возводим не просто дома, а полноценный микрорайон с развитой инфраструктурой, где всё будет создано для удобства будущих жильцов. Квартал будет включать в себя жилые корпуса переменной этажности, подземный паркинг, детские сады и собственные спортивные площадки. Особое внимание уделено благоустройству территории: будут разбиты скверы, зоны для отдыха и прогулочные аллеи. На всех этапах работы ведутся с строгим соблюдением ГОСТ, СНиП и корпоративных стандартов качества СТК-59. Сдача первой очереди проекта запланирована на четвёртый квартал 2025 года. Мы уверены, что «Центральный Парк» станет одним из самых востребованных и комфортных мест для жизни в городе.
		
		