//TEAM
section.our-team
	.container
		.grid-two-columns
			h2.h3.title-mobile Команда и кадры
			.preview-image
				picture
					source(srcset="./img/about-team-w480.webp 1x, ./img/about-team-w480@2x.webp 2x" media="(max-width:767px)" type="image/webp")
					img.img-cover.br-40(src='./img/about-team.webp', srcset='./img/about-team@2x.webp 2x' width='755' 	height='520' loading='lazy' alt='img')
			
			.preview-text.flex-column
				h2.h3.title-desk Команда и кадры
				.text-wrapper.fs-18
					p Основой успеха «СТК-59» является её сплочённая команда высокопрофессиональных специалистов — от талантливых проектировщиков и прорабов до мастеров своего дела на каждом объекте. Компания инвестирует в развитие персонала, создавая условия для непрерывного обучения и карьерного роста. Благодаря этому обеспечивается безупречное качество работ на всех этапах строительства.
					p В коллективе царит атмосфера взаимного уважения и ответственности, где каждый сотрудник понимает свою роль в общем деле. Высокая корпоративная культура и внимание к безопасности труда мотивируют команду на достижение лучших результатов, делая каждый проект воплощением надёжности и профессионализма.
		
section.cta.section-grey
	.container
		.cta-txt
			p.fs-28 Дом — это не просто место, где ты живёшь. Это место, где начинается твоя история. Начните новую главу вашей жизни в квартале «Центральный Парк».