//PROMO
section.promo
	.container
		.grid-column
			.grid-column-left.br-40
				//swiper slider
				.promo-swiper.swiper
					.swiper-wrapper
						//single slide
						.swiper-slide
							.offer-card.br-40
								.offer-card__img
									img.img-cover(src='./img/banner.webp', srcset='./img/banner@2x.webp 2x' width='1017' height='700'  alt='img')
								
								.offer-card__content
									.offer-card__header
										.tags-block.d-flex
											.tag # new tag
											.tag # new tag
											.tag # new tag
										.offer-card__title
											.h1 Эко-квартал Алания
											.fs-24 ЖК «Весна»
									
									.offer-card__footer
										.h-28 От 70 тыс. ₽ квадратный метр
										button.btn-dark(href="#!") Смотреть проект
						
						//single slide
						//- .swiper-slide
						//- 	.offer-card.br-40
						//- 		.offer-card__img
						//- 			img.img-cover(src='./img/banner.webp', srcset='./img/banner@2x.webp 2x' width='1017' height='700'  alt='img')
								
						//- 		.offer-card__content
						//- 			.offer-card__header
						//- 				.tags-block.d-flex
						//- 					.tag # new tag
						//- 					.tag # new tag
						//- 					.tag # new tag
						//- 				.offer-card__title
						//- 					.h1 Эко-квартал Алания
						//- 					.fs-24 ЖК «Весна»
									
						//- 			.offer-card__footer.btns-group.d-flex
						//- 				a.btn-light(href="#!") Выбрать квартиру
						//- 				button.btn-primary(href="#!") Заказать консультацию

					//nav
					
					.swiper-button-prev.promo-swiper-prev
					.swiper-button-next.promo-swiper-next
			//right column		
			.promo-links.grid-column-right
				//single card
				.offer-card.br-40
					.offer-card__img
						img.img-cover(src='./img/link-banner.webp', srcset='./img/link-banner@2x.webp 2x' width='493' height='335'  alt='img')
					
					.offer-card__content
						.offer-card__header
							.fs-24 Ипотечные программы
						
						.offer-card__footer
							a(href="#!").fs-16.flex-txt.hover-opac
								span Рассчитать
								svg.svg-right
									use(href='./img/sprite.svg#svg-right')
				//single card
				.offer-card.br-40
					.offer-card__img
						img.img-cover(src='./img/news.webp', srcset='./img/news@2x.webp 2x' width='493' height='335'  alt='img')
					
					.offer-card__content
						.offer-card__header
							.fs-24 Ипотечные программы
						
						.offer-card__footer
							a(href="#!").fs-16.flex-txt.hover-opac
								span Рассчитать
								svg.svg-right
									use(href='./img/sprite.svg#svg-right')