//О ПРОЕКТЕ
section.about-project
	.container
		.about-project.different-columns
			.different-columns__narrow.flex-column
				h2.h2 О проекте
				.text-wrapper
					p Финальным аккордом в излюбленной горожанами локации на Шамиля Джикаева станет цельно-монолитный жилой комплекс бизнес-класса «Символ». Расположенный на пересечении улиц Барбашова и Московского шоссе, элегантный и харизматичный ЖК словно приветствует гостей и жителей Владикавказа при въезде в город.
			
			.different-columns__wide.br-40
				.single-swiper.swiper
					.swiper-wrapper
						.swiper-slide
							.project-preview-content
								picture
									source(srcset="./img/single-project-w480.webp 1x, ./img/single-project-w480@2x.webp 2x" media="(max-width:767px)" type="image/webp")
									img.img-cover(src='./img/single-project.webp', srcset='./img/single-project@2x.webp 2x' width='916' height='590'  alt='img')
						.swiper-slide
							.project-preview-content
								picture
									source(srcset="./img/single-project-w480.webp 1x, ./img/single-project-w480@2x.webp 2x" media="(max-width:767px)" type="image/webp")
									img.img-cover(src='./img/single-project.webp', srcset='./img/single-project@2x.webp 2x' width='916' height='590'  alt='img')
						.swiper-slide
							.project-preview-content
								picture
									source(srcset="./img/single-project-w480.webp 1x, ./img/single-project-w480@2x.webp 2x" media="(max-width:767px)" type="image/webp")
									img.img-cover(src='./img/single-project.webp', srcset='./img/single-project@2x.webp 2x' width='916' height='590'  alt='img')
					//swiper nav
					.swiper-button-prev.single-swiper-prev
					.swiper-button-next.single-swiper-next

