//PROMO
section.promo.banner-promo
	.container
		.offer-card.offer-card--banner.br-40
			.offer-card__img
				img.img-cover(src='./img/project-banner.webp', srcset='./img/project-banner@2x.webp 2x' width='1540' height='720'  alt='img')
			
			.offer-card__content
				.offer-card__header
					.tags-block.d-flex
						.tag # new tag
						.tag # new tag
						.tag # new tag
					.offer-card__title
						.h1 Эко-квартал Алания
						.fs-24 ЖК «Весна»
				
				.offer-card__footer.btns-group.d-flex
					
					a.btn-light(href="#!") Выбрать квартиру
					button.btn-primary(href="#!") Заказать консультацию