//3D panorama
section.project-tour
	.container
		.section-header.grid-two-columns.mb-40
			h2.h2 Различные планировочные решения
			p.fs-18 От уютных и функциональных однокомнатных до просторных трехкомнатных квартир с потрясающими видовыми характеристиками: на Московское шоссе, величественный Казбек и Столовую гору, живописных пейзажей Кавказского хребта, на динамику городской среды или приватный закрытый двор с ландшафтным озеленением от одной из ведущих московских компаний De Vision Group. 
		.grid-column
			.grid-column-left.br-40
				.project-tour__title.h2 Фотогалерея
				//swiper slider
				.promo-swiper.swiper.project-tour-swiper
					.swiper-wrapper
						//single slide
						.swiper-slide
							.offer-card.br-40
								.offer-card__img
									picture
										source(srcset="./img/gallery-w480.webp 1x, ./img/gallery-w480@2x.webp 2x" media="(max-width: 767px)"  type="image/webp")
										img.img-cover(src='./img/gallery.webp', srcset='./img/gallery@2x.webp 2x' width='1017' height='700'  alt='img')
								
								.offer-card__content
									.offer-card__header
										a(href="./img/gallery@2x.webp" data-fancybox="gallery").btn-round
											svg.svg-screen
												use(href='./img/sprite.svg#svg-screen')
											
									
									.offer-card__footer
										a.btn-primary(href="presentation.pdf" download )
											span Презентация проекта .pdf
											svg.svg-doc
												use(href='./img/sprite.svg#svg-doc')
						
						//single slide
						.swiper-slide
							.offer-card.br-40
								.offer-card__img
									picture
										source(srcset="./img/gallery-w480.webp 1x, ./img/gallery-w480@2x.webp 2x" media="(max-width: 767px)"  type="image/webp")
										img.img-cover(src='./img/gallery.webp', srcset='./img/gallery@2x.webp 2x' width='1017' height='700'  alt='img')
								
								.offer-card__content
									.offer-card__header
										a(href="./img/gallery@2x.webp" data-fancybox="gallery").btn-round
											svg.svg-screen
												use(href='./img/sprite.svg#svg-screen')
											
									
									.offer-card__footer
										a.btn-primary(href="presentation.pdf" download)
											span Презентация проекта .pdf
											svg.svg-doc
												use(href='./img/sprite.svg#svg-doc')

					//swiper nav
					.swiper-button-prev.promo-swiper-prev
					.swiper-button-next.promo-swiper-next
			//right column		
			.promo-links.grid-column-right
				//single card
				.offer-card.offer-card--center.br-40
					.offer-card__img
						img.img-cover(src='./img/3d.webp', srcset='./img/3d@2x.webp 2x' width='493' height='335'  alt='img')
					
					.offer-card__content
						.fs-24 3D тур
						
						
				//single card
				.offer-card.offer-card--center.br-40
					.offer-card__img
						img.img-cover(src='./img/online.webp', srcset='./img/online@2x.webp 2x' width='493' height='335'  alt='img')
					
					.offer-card__content
						.fs-24 Онлайн камера строительства
						
						