@use '_var' as *;
/*
	section.inner-promo(
	style="background-image: image-set(url('./img/inner-promo.webp') 1x, url('./img/inner-promo@2x.webp') 2x);
			-webkit-background-image: -webkit-image-set(url('./img/inner-promo.webp') 1x, url('./img/inner-promo@2x.webp') 2x);"
	)
	@media (-webkit-min-device-pixel-ratio: 2), 
	(min-resolution: 192dpi) { 

		.box{background:url('images/box-bg@2x.png') no-repeat top left;}
	}
*/

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

*, *:after, *:before {
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: center;
	
}
:root {
	--accent1: #00adbb;
	--accent2: #008a95;
	--accent3: #00666e;
	--error: #bb0e00;
	--white: #fff;
	--black: #000;
	--primary: #2e2f31;
	--primary1: #54565a;
	--secondary: #8b8c8f;
	--secondary1: #b5b6b8;
	--secondary2: #e2e3e3;
	--secondary3: #f8f8f9;
	--secondary4: rgba(248, 248, 249, 0.7);

	--font-family: "Roboto";
}
html {
	scroll-behavior: smooth;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
	font-weight: 400;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
	font-size: 16px;
	line-height: 1.3;
	
}
.lock{
	overflow: hidden; 
}
.page-content{
	display: flex;
	flex-direction: column;
	&>*{width: 100%;}
	header.header, footer.footer{flex-shrink:0}
	main{flex-grow: 1;}
}
a,
a:hover {
	text-decoration: none;
	
}
a {color: inherit;}
*,*:focus{
	outline: none;
}
a[href^="tel:"],
a[href^="mailto:"] {
	white-space: nowrap;
}

h1,
h2,
h3,
h4,
p {
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}
.img-cover,.img-contain{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.img-contain{
	object-fit: contain;

}


input,
button, textarea{
	border: none;
	background:none;
	padding: 0;
	box-shadow: none;
	font-family: inherit;
	font-size: inherit;
}

button,input[type="submit"] {
	cursor: pointer;
}

address{font-style: normal;}

input::placeholder, textarea::placeholder{
	font-family: inherit;
	font-size: inherit;
}

.container{
	width: 80vw;
	max-width: 1540px;
	margin-left: auto;
	margin-right: auto;
	
	@media (max-width: 1439px) {
	  width: 85vw;
	}
	@media (max-width: 1023px) {
	  width: 87vw;
	}
	@media (max-width: 574px) {
	   width: 100vw;
	   padding-left: 20px;
	   padding-right: 20px;
	}
}
/*vendore*/
.d-flex, .d-flex-cy, .flex-column, .icon-txt{
	display: flex;
	gap:8px;
}
.flex-column{
	flex-direction: column;
}
.flex-center{
	justify-content: center;
	align-items: center;
}
.d-flex-cy, .icon-txt{
	align-items: center;
}
.d-flex.xs-flex-column{
	flex-direction: column;
	@media (min-width: 744px) {
	flex-direction: row;
	}
}


