@use '_var' as *;
/*
	section.inner-promo(
	style="background-image: image-set(url('./img/inner-promo.webp') 1x, url('./img/inner-promo@2x.webp') 2x);
			-webkit-background-image: -webkit-image-set(url('./img/inner-promo.webp') 1x, url('./img/inner-promo@2x.webp') 2x);"
	)
	@media (-webkit-min-device-pixel-ratio: 2), 
	(min-resolution: 192dpi) { 

		.box{background:url('images/box-bg@2x.png') no-repeat top left;}
	}
*/

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

*, *:after, *:before {
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: center;
	
}
:root {
	--accent1: #00adbb;
	--accent2: #008a95;
	--accent3: #00666e;
	--error: #bb0e00;
	--white: #fff;
	--black: #000;
	--primary: #2e2f31;
	--primary1: #54565a;
	--secondary: #8b8c8f;
	--secondary1: #b5b6b8;
	--secondary2: #e2e3e3;
	--secondary3: #f8f8f9;
	--secondary44: rgba(248, 248, 249, 0.7);
	--secondary4: rgba(250, 250, 251, 1);

	--font-family: "Roboto";
}
html {
	scroll-behavior: smooth;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: var(--font-family), sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
	font-size: 16px;
	line-height: 1.3;
	
}
.lock{
	overflow: hidden; 
}
.page-content{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	&>*{width: 100%;}
	header.header, footer.footer{flex-shrink:0}
	main{flex-grow: 1;}
}
a,
a:hover {
	text-decoration: none;
	
}
a {color: inherit;}
*,*:focus{
	outline: none;
}
a[href^="tel:"],
a[href^="mailto:"] {
	white-space: nowrap;
}

h1,
h2,
h3,
h4,
p {
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}
.img-cover,.img-contain{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.img-contain{object-fit: contain;}
input,
button, textarea{
	border: none;
	background:none;
	padding: 0;
	box-shadow: none;
	font-family: inherit;
	font-size: inherit;
}

button,input[type="submit"] {
	cursor: pointer;
}

address{font-style: normal;}

input::placeholder, textarea::placeholder{
	font-family: inherit;
	font-size: inherit;
}

.container{
	width: 1540px;
	
	margin-left: auto;
	margin-right: auto;
	@media (max-width: 1919px) {
		width: 100%;
		padding-left: 80px;
	    padding-right: 80px;
	}
	@media (max-width: 1759px) {
	    padding-left: 60px;
	    padding-right: 60px;
	}
	@media (max-width: 1279px) {
	  
	   padding-left: 50px;
	   padding-right: 50px;
	}
	@media (max-width: 767px) {
		padding-left: 30px;
	   padding-right: 30px;
	}
	@media (max-width: 574px) {
	  
	   padding-left: 20px;
	   padding-right: 20px;
	}
}

.container.gap-40{
	display: grid;
	grid-template-columns: 1fr;
	gap:40px;
}
.gap-30{
	display: flex;
	flex-direction: column;
	gap:30px;
	
}
.main-page, .inner-page{
	padding-top: 60px;
	padding-bottom: 180px;
	display: flex;
	flex-direction: column;
	row-gap:180px;
	&>*{width: 100%;}
	@media (max-width: 1919px) {
	  padding-top: 3vw;
	  padding-bottom: 140px;
	  row-gap:140px;
	}
	@media (max-width: 1279px) {
	 padding-top: 40px;
	 row-gap:100px;
	 padding-bottom: 100px;
	}
}

// .page-content .main-page{
// 	padding-top: 40px;
// }
.mb-0, .page-content  .main-page{
	margin-bottom: 0!important;
	padding-bottom: 0;
	
}
/*vendore*/
.br-40{
	border-radius: 40px;
	@media (max-width: 1439px) {border-radius: 30px;}
	@media (max-width: 1023px) {border-radius: 20px;}
}
.d-flex,.flex-column{
	display: flex;
	align-items: center;
	gap:10px;
}
.flex-column{
	flex-direction: column;
	align-items:flex-start;
}
.flex-center{
	justify-content: center;
	align-items: center;
}
.d-flex-cy, .icon-txt{
	align-items: center;
}
.d-flex.xs-flex-column{
	flex-direction: column;
	@media (min-width: 744px) {
	flex-direction: row;
	}
}
.d-grid, .grid-column, .grid-single-column, .grid-two-columns, .grid-three-columns, .grid-two-columns-1024{
--gap: 30px;
	display: grid;
	gap:var(--gap);
	@media (max-width: 1199px) {
	 --gap: 20px;
	}
	@media (max-width: 767px) {
		grid-template-columns: 1fr;
	}
}
.grid-three-columns{
	grid-template-columns: 1fr 1fr 1fr;
	@media (max-width: 1199px) {
	grid-template-columns: 1fr 1fr;
	}
	// @media (max-width: 767px) {
	// 	grid-template-columns: 1fr 1fr;
	// }
	@media (max-width: 767px) {
		grid-template-columns: 1fr;
	}
}
.grid-column{
	grid-template-columns: 1017px 1fr;
	.promo-swiper{width:100% ;}
	@media (max-width: 1919px) {
	  grid-template-columns: 68% 1fr;
	}
	
	@media (max-width: 1023px) {
	  display: block;
	  .grid-column-right{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap:20px;
	  }

	}
	@media (max-width: 767px) {
		.grid-column-right{
			gap: 30px;
			grid-template-columns: 1fr;
		}
	}
}
.main-page .grid-column .grid-column-right{
	@media (max-width: 767px) {gap: 40px;}
}
.grid-single-column{
	grid-template-columns: 1fr!important;
}
.grid-two-columns, .grid-two-columns-1024{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap:30px;
	@media (max-width: 767px) {
		grid-template-columns: 1fr;
	}
}
.grid-two-columns-1024{
	@media (max-width: 1023px) {
		grid-template-columns: 1fr;
		gap:20px;
	}
}

.different-columns{
	display: flex;
	flex-direction: row;
	gap:30px;
	&__wide{
		width: 47.8vw;
		max-width: 916px;
		flex-shrink: 0;
	}
	&__wide.br-40{overflow: hidden;}
	&__narrow{
		flex:1;
		
	}
	@media (max-width: 1023px) {
	  flex-direction: column;
	  gap:40px;
	  &__wide{width: 100%;}
	}
}
.mb-40{
	margin-bottom: 40px;
	@media (max-width: 1023px) {
	margin-bottom: 20px;
	}
}
.bottom-40{
	margin-bottom: 40px;
}
.md-gap-30{
	@media (max-width: 1023px) {
	  gap:30px!important;
	}
}
.column-count-two, .column-count-three{
	column-count: 2;
	column-gap:30px;
	
	&>*{
		page-break-inside: avoid;
      -webkit-column-break-inside: avoid;
	}
	&>*+*{margin-top: 20px;}
	@media (max-width: 1199px) {
	   column-count: 1;
	
	}
}
ul, ol{
	&.column-count-two, &.column-count-three{
		@media (max-width: 1199px) {
	  		&>*+*{margin-top: 10px;}
	   }
	}
}
.column-count-three{
	column-count: 3;
}