.btn-primary,
.btn-dark, .btn-light, .btn-outline{

	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	column-gap:10px;
	cursor:pointer;
	white-space: nowrap;
	padding: 0;
	padding-left: 34px;
	padding-right: 34px;
	height: 52px;
	
	transition: .3s;
	border-radius: 40px;

	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	line-height: 1;

	&:hover{
		background: var(--accent2);
		border-color:var(--accent2);
		color: var(--white);
	}
	&.disabled, &[disabled]{
		opacity: 0.4!important;
		pointer-events: none!important;
		cursor:default !important;
	}
}
.btn-primary,.btn-dark{
  color: var(--white);
}


.btn-primary{
	background: var(--accent1);
	border:1px solid var(--accent1);
}
.btn-dark{
	background: var(--primary);
	border:1px solid var(--primary);
}
.btn-light{
	background: var(--white);
	border:1px solid var(--white);
	color: var(--primary1);
}
.btn-outline{
	background: var(--white);
	border:1px solid var(--primary);
	color: var(--primary1);
	
}