.btn-primary,
.btn-dark, .btn-light, .btn-outline,.btn-opacity{

	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	column-gap:10px;
	cursor:pointer;
	white-space: nowrap;
	padding: 0;
	padding-left: 34px;
	padding-right: 34px;
	height: 52px;
	
	transition: .3s;
	border-radius: 40px;

	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	line-height: 1;
	svg{transition: .3s; }
	&:hover{
		background: var(--accent2);
		border-color:var(--accent2);
		color: var(--white);
		svg{color: var(--white);}
	}
	&.disabled, &[disabled]{
		opacity: 0.4!important;
		pointer-events: none!important;
		cursor:default !important;
	}
}
.btn-primary,.btn-dark{
  color: var(--white);
}
.btn-opacity{
	background-color: transparent;
	border:1px solid  currentColor;

}

.btn-primary{
	background: var(--accent1);
	border:1px solid var(--accent1);
	svg{color: white;}
}
.btn-dark{
	background: var(--primary);
	border:1px solid var(--primary);
}
.btn-light{
	background: var(--white);
	border:1px solid var(--white);
	color: var(--primary1);
}
.btn-outline{
	background: var(--white);
	border:1px solid var(--primary);
	color: var(--primary1);
	
}
.xs-100{
	@media (max-width: 767px) {
		width: 100%!important;
		max-width: 380px;
	}
}
.btns-group{
	display: flex;
	gap:10px;
	&>*+*{margin-top: 0!important;}
	@media (max-width: 767px) {
		flex-direction: column;
		
	}
}
.btn-center{display: flex;justify-content: center;}
.btn-round{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	flex-shrink: 0;
	background-color: #fff;
	transition: .3s; 
	svg{color:#00ADBB;transition: .3s; }
	@media (max-width: 767px) {
		width: 60px;
		height: 60px;
		svg{
			width: 24px;
			height: 24px;
		}
	}
}
*.accent-hover:hover{
	background: var(--accent1)!important;
	svg{color: white!important;}
}

.messenger-link{
	width: 52px;
	height: 52px;
	border-radius: 50%;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary);
	transition: .3s; 
	svg{color: white;transition: .3s; }
	&:hover{
		background-color: var(--accent2);
		svg{color: white;}
	}
}
