.form-item{
	position: relative;
}	
input.form-input, 
textarea.form-textarea{
	display: block;
	width: 100%;
	height: 52px;
	border-radius: 52px;
	background-color: #fff;
	padding:15px 16px;
	
	font-family: var(--font-family);
	font-weight: 500;
	font-size: 16px;
	color: var(--primary);
	&::placeholder{
		color: var(--secondary);
	}
}
textarea.form-textarea{
	height: 60px;
}
.custom-checkbox{
	position: relative;
	display: flex;
	align-items: center;
	gap:10px;
	input[type="checkbox"]{
		position: absolute;
		appearance: none;
		top: 0;
		left: 0;
		opacity: 0;
	}
	.fake-checkbox{
		display: flex;
		flex-shrink: 0;
		border: 1px solid var(--primary);
		border-radius: 4px;
		width: 16px;
		height: 16px;
		background-color: transparent;
		background-repeat: no-repeat;
		background-position: center;
		
	}
	input[type="checkbox"]:checked + span.fake-checkbox{
		border: 1px solid white;
		background-color: white;
		background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='9' height='7' viewBox='0 0 9 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8 1L3 6L1 4' stroke='%2300666e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3e%3c/svg%3e");
		
	}
}