svg{display: inline-block; color: var(--accent1);}
.svg-logo{
	width: 112px;
	aspect-ratio: 112/108;
	transition: .3s; 
	&:hover{opacity: .6;}
}
.svg-cross{
   width: 26px;
   height: 26px;
}
.svg-right{
	width: 12px;
	height: 10px;
}
.svg-arrLeft{
	width: 20px;
	height: 14px;
}
.svg-phone{
	width: 19px;
	height: 18px;
}
.svg-email{
	width: 19px;
	height: 16px;
	color: var(--primary);
}
.svg-search{
	width: 22px;
	height: 20px;
}
.svg-play{
	width: 65px;
	height: 72px;
}
.svg-carret-down{
	width: 12px;
	height: 7px;
}
.svg-check{
	width: 18px;
	height: 14px;
}
.svg-downl{
	width: 22px;
	height: 22px;
	color:#54565A;
}
.svg-pdf{
	width: 16px;
	height: 17px;
}
.svg-carret-left, .svg-carret-right{
	width: 20px;
	height: 20px;
}
.svg-pin, .svg-doc{
	width: 22px;
	height: 22px;
	color:#2E2F31;
}
.svg-doc{
	color:white;
}
.svg-screen, .svg-link-shear{
	width: 28px;
	height: 28px;
	color:#00ADBB;
}
.svg-link-shear{
	color: #00ADBB;
}
.svg-whatsapp{
	width: 24px;
	height: 24px;
	color: #212121;
}
.svg-tour, .svg-cam{
	color: #00ADBB;
	width: 36px;
	height: 36px;
}
.svg-cam{color: #00666E;}