
.h1, .h2, .h3, .h4, .h5, .h6{
	font-family: var(--font-family);
	font-weight: 700;
	font-size: 60px;
	line-height: 1.3;
	color: var(--primary);
}
.h2{font-size: 50px;}
.h3{font-size: 46px;}
.h4{font-size: 40px;}
.h5{font-size: 32px;}
.h6{font-size: 28px;}

.fs-90{
	font-weight: 700;
	font-size: 90px;
	line-height: 120%;
	
}
.fs-28, .h-28{font-size: 28px;}
.fs-24, .h-24{font-size: 24px;}
.fs-20, .h-20{font-size: 20px;}
.fs-18{font-size: 18px;}
.fs-16{font-size: 16px;}
.fs-14{font-size: 14px;}
.fw-500,.h-20{font-weight: 500;}
.fw-700, .h-28, .h-24{font-weight: 700;}

@media (max-width: 1919px) {
	.h1{font-size: 3.5vw;}
	
	
}
@media (max-width: 1439px) {
   .h2{font-size: 40px;}
	.h3{font-size: 36px;}
	.h4{font-size: 32x;}
}
@media (max-width: 1364px) {
  .h1{font-size: 46px;}
  .h2{font-size: 36px;}
  .h3{font-size: 32px;}
  .h4{font-size: 30px;}
  .fs-90{font-size: 70px;}
  .fs-28{font-size: 24px;}
  .fs-24{font-size: 20px;}
  
}
@media (max-width: 1199px) {
    .h1{font-size: 40px;}
	.h2{font-size: 32px;}
	.h3{font-size: 28px;}
	.h4, .h-24{font-size: 20px;}
}
@media (max-width: 767px) {
	
	.fs-90{font-size: 60px;}
}
@media (max-width: 420px) {
   .h1{font-size: 34px;}
   .h2{font-size: 28px;}
   .h3{font-size: 24px;}
}
.link, .link-primary{
	position: relative;
	display: inline;
	width: fit-content;
	line-height: 1.4;
	font-family: var(--font-family);
	font-weight: 500;
	text-decoration: none;
	transition: .3s; 
	
	&:after{
		content:'';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1px;
		background-color: currentColor;
	}
}
.link{
	color:  var(--secondary); 
	&:hover{color: var(--accent2);}
}
.link-primary{	
	color: var(--accent2);
	&:hover{color: var(--secondary);}
}
.muted-txt{color: var(--secondary);}
.flex-txt,
.phone-link{
	display: inline-flex;
	align-items: center;
	column-gap:10px;
	line-height: 1;
	transition: .3s; 
}
.phone-link:hover,.hover-accent:hover{
	color: var(--accent3);
	svg{color: var(--accent3);}
}
.hover-opac:hover{opacity: .7;}
.section-dark,.section-grey{
	padding-block: 140px;
	@media (max-width: 1364px) {
		padding-block:100px;
	}
	@media (max-width: 767px) {
		padding-block:80px;
	}
}
.section-dark{
	background-color: var(--primary);
	
	*{color: white;}
}
.section-grey{background: var(--secondary3);}
.primary-bg{
	background: var(--accent1);
	color: white;
	padding: 125px 60px;
	@media (max-width: 1023px) {
		padding: 80px 20px;
	}
}
.section-header.d-flex{
  justify-content: space-between;
 @media (max-width: 767px) {
	flex-direction: column;
	align-items: flex-start;
     gap:20px;
 }
//   @media (max-width: 419px) {
// 	[class^="btn-"]{padding-left: 10px;
// 	padding-right: 16px;}
//   }
}
.section-header.grid-two-columns{
	@media (max-width: 1023px) {
		grid-template-columns: 1fr;
		gap:20px;
	}
}
.text-wrapper{
	line-height: 1.4;
   &>*+*{margin-top: 16px;}
}
.grey-block{background: var(--secondary3);}
.primary-block{background: var(--accent1);  * {color: white;}}
	

.grey-block,
.primary-block{
	display: flex;
	border-radius: 40px;
	flex-direction: column;
	padding: 30px;
	gap:30px;
	
	@media (max-width: 1023px) {
	  gap:20px;
	  padding: 20px;
	  border-radius: 20px;
	}
}
.preview-text{
	display: flex;
	flex-direction: column;
	
	gap:30px;
}
.preview-image{
	flex:1;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		aspect-ratio: 755/520;
		@media (max-width: 767px) {
		  aspect-ratio:388/280;
		}
	}
}
