.navbar-nav{
		padding: 0;
		margin: 0;
		list-style-type: none;
		display: flex;
		// flex:1;
		align-items: center;
		column-gap:40px;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
		
	.sub-menu-wrapper {
		position: fixed; 
		display: flex;
		align-items: center;
		
		left: 0;
		width: 100vw;       
		overflow: hidden;
		height: 0;
		transition: height .2s;
		z-index: 9;
		
		background-color: var(--secondary4);
		// &:before{
		// 	content:'';
		// 	position: absolute;
		// 	bottom: 0;
		// 	left: 0;
		// 	right: 0;
		// 	top: 10px;
		// 	background: var(--secondary4);
		// 	border-top: 1px solid var(--secondary2);
		// } 
		@media (max-width: 1279px) {
		 position: relative;
		 width: 100%;
		background-color: #fff;
		 height: 0;
		 display: block;
		 border-top:0;
		 border-top: 1px solid transparent;
		 &:before{
			display: none;
		 }
		}
	}
	
	.menu-item-current a{color: var(--accent3)!important;}
	.sub-menu {
		padding: 20px 0;
		
		margin: 0;
		list-style-type: none;
		z-index: 2;
	
		white-space: nowrap;
		width: 100%; 
		display: flex;
		align-items: center;
		gap: 40px;
		flex-wrap: wrap;
		@media (max-width: 1279px) {
			flex-direction: column;
			height: unset;
			gap: 0;
			align-items: flex-start;
			padding: 0;
		}
  }
	
	.menu-link{
		display: block;
		line-height: 1.40;
		white-space: nowrap;
		padding-top: 30px;
		padding-bottom: 30px;
       color: var(--primary);
	   @media (max-width: 1279px) {
	     padding-block: 20px;
		
	   }
	}
	.menu-item-has-submenu .menu-link{
		position: relative;
		display: flex;
		column-gap: 6px;
		align-items: center;
		&:after{
			content: '';
			width: 18px;
			height: 18px;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.44804 6.01936C3.67399 5.79342 4.04032 5.79342 4.26626 6.01936L9.00001 10.7531L13.7338 6.01936C13.9597 5.79342 14.326 5.79342 14.552 6.01936C14.7779 6.24531 14.7779 6.61164 14.552 6.83759L9.40912 11.9804C9.18318 12.2064 8.81684 12.2064 8.5909 11.9804L3.44804 6.83759C3.2221 6.61164 3.2221 6.24531 3.44804 6.01936Z' fill='%232E2F31' /%3e%3c/svg%3e");
			background-size: 18px 18px;
			transition: .3s; 
			@media (max-width: 1279px) {
			display: none;
			}
		}
	}

	.menu-item-has-submenu .menu-link:hover, .sub-menu-link:hover{
		color: var(--accent3) ;
		&:after{
			content: '';
			width: 18px;
			height: 18px;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.44804 6.01936C3.67399 5.79342 4.04032 5.79342 4.26626 6.01936L9.00001 10.7531L13.7338 6.01936C13.9597 5.79342 14.326 5.79342 14.552 6.01936C14.7779 6.24531 14.7779 6.61164 14.552 6.83759L9.40912 11.9804C9.18318 12.2064 8.81684 12.2064 8.5909 11.9804L3.44804 6.83759C3.2221 6.61164 3.2221 6.24531 3.44804 6.01936Z' fill='%2300666e' /%3e%3c/svg%3e");
			transform: rotate(180deg);
		}
	}
	.menu-item-has-submenu:hover .menu-link:after{
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.44804 6.01936C3.67399 5.79342 4.04032 5.79342 4.26626 6.01936L9.00001 10.7531L13.7338 6.01936C13.9597 5.79342 14.326 5.79342 14.552 6.01936C14.7779 6.24531 14.7779 6.61164 14.552 6.83759L9.40912 11.9804C9.18318 12.2064 8.81684 12.2064 8.5909 11.9804L3.44804 6.83759C3.2221 6.61164 3.2221 6.24531 3.44804 6.01936Z' fill='%2300666e' /%3e%3c/svg%3e");
			transform: rotate(180deg);
	}
	@media (min-width: 1280px) {
	  .menu-item:hover .sub-menu-wrapper{
			height: 100px;
			margin-top: -10px;
			border-top: 1px solid transparent;
		}
	}
	
	@media (max-width: 1279px) {
	  
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		 max-height: calc(100dvh - 220px);
		 overflow: hidden;
		 overflow-y: auto;
		 scrollbar-width: none;
		 justify-content: flex-start;
        &::-webkit-scrollbar{display: none;}
		.menu-item{
			padding-inline:20px;
			width: 100%;
			 border-bottom: 1px solid var(--secondary2);
			 background-color: #fff;
		}
		.menu-item-has-submenu{
			width: 100%;
			padding-inline:20px 60px;
			position: relative;
			
			&:after{
				display: block;
				position: absolute;
				top: 23px;
				right: 20px;
				z-index: 2;
				content: '';
				width: 18px;
				height: 18px;
				background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.44804 6.01936C3.67399 5.79342 4.04032 5.79342 4.26626 6.01936L9.00001 10.7531L13.7338 6.01936C13.9597 5.79342 14.326 5.79342 14.552 6.01936C14.7779 6.24531 14.7779 6.61164 14.552 6.83759L9.40912 11.9804C9.18318 12.2064 8.81684 12.2064 8.5909 11.9804L3.44804 6.83759C3.2221 6.61164 3.2221 6.24531 3.44804 6.01936Z' fill='%232E2F31' /%3e%3c/svg%3e");
				background-size: 18px 18px;
				transition: .3s; 
			}
		}
		.sub-menu-item{
			width: 100%; padding-left: 20px;
			position: relative;
			&:after{
				content:'';
				display: block;
				position: absolute;
				top: 0;
				left: -20px;
				height: 1px;
				background: var(--secondary2);
				width: 100vw;
				 max-width: 430px;
			}
		}
		.menu-item-has-submenu.menu-item-has-submenu--open .menu-link{color: var(--accent3)!important;}
	
		.menu-item-has-submenu.menu-item-has-submenu--open:after{
			transform: rotate(180deg);
		}
		// .sub-menu-wrapper.is-open{overflow: unset;}
		.sub-menu-link{
			width: 100%;
			padding-block:14px;
			display: block;
		}
		
	}
}
/*burger*/
.menu-toggle {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid var(--primary);
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
  @media (max-width: 1279px) {
  display: flex;
  }
}

.menu-toggle span {
  position: relative;
  border-radius: 2px;
  width: 24px;
  height: 2px;
  background-color: var(--primary);
}

.menu-toggle span::before,
.menu-toggle span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  background-color: var(--primary);
}

.menu-toggle span::before {
  top: -7px;
}

.menu-toggle span::after {
  top: 7px;
}

/* Active state */

.menu-toggle.active span {
  background-color: transparent;
}

.menu-toggle.active span::before,
.menu-toggle.active span::after {
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  background-color: var(--primary);
}

.menu-toggle.active span::before {
  transform: rotate(45deg);
}

.menu-toggle.active span::after {
  transform: rotate(-45deg);
}