.offer-card{
	position: relative;
	overflow:hidden;
	aspect-ratio: 493/335;
	max-width: 1540px;
	border-radius: 40px;
	&__content{
		position: absolute;
		inset:0;
		z-index: 2;
		background: rgba(0,0,0, .2);
		padding: 60px;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		row-gap:30px;
		@media (max-width: 1364px) {
		 padding: 30px;
		}
		@media (max-width: 1279px) {
		 padding: 20px;
		
		}
		@media (max-width: 399px) {
		 padding: 14px;
		}
	}
	&__img{height: 100%;}
	.tags-block{margin-bottom: 30px;}
	&__header, &__footer{width: 100%;}
	&__footer{
		margin-top: auto;
		
		&>*+*{margin-top: 20px;}
		
	}
	&__footer.d-flex{
		&>*+*{margin-top: 0;}
	}
	&__title{
		.h1{line-height: 1.2;}
		&>*{color: white;}
		&>*+*{margin-top: 10px;}
	}
	.svg-right{color: white;}
	@media (max-width: 1023px) {
	border-radius: 20px;
	}
	@media (max-width: 767px) {
	aspect-ratio: 390/280;
	}
}
.promo .swiper-slide .offer-card__content{
	@media(min-width:1365px){
		padding: 30px;
	}
}
.offer-card.offer-card--center .offer-card__content{
	justify-content: center;
	align-items: center;
	text-align: center;
	&>*{width: 100%;}
}
.offer-card.offer-card--banner{
	aspect-ratio:1540/720;
	@media (max-width: 767px) {
	 aspect-ratio:unset;
	 height: 580px;
	}
}
.offer-card.offer-card--end{
	.offer-card__content{
		justify-content: flex-end;
	}
	.offer-card__footer{
		margin-top: 0;
	}
}