.offer-card{
	position: relative;
	overflow:hidden;
	aspect-ratio: 493/335;
	max-width: 1540px;
	&__content{
		position: absolute;
		inset:0;
		z-index: 2;
		background: rgba(0,0,0, .2);
		padding: 30px;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@media (max-width: 1364px) {
		 padding: 20px;
		}
	}
	.tags-block{margin-bottom: 30px;}
	&__header, &__footer{width: 100%;}
	&__footer{
		margin-top: auto;
		&>*+*{margin-top: 20px;}
		
	}
	&__footer.d-flex{
		&>*+*{margin-top: 0;}
	}
	&__title{
		.h1{line-height: 1.2;}
		&>*{color: white;}
		&>*+*{margin-top: 10px;}
	}
	svg{color: white;}

}
.offer-card.offer-card--center .offer-card__content{
	justify-content: center;
	align-items: center;
	text-align: center;
}