.swiper-button-next,
.swiper-button-prev{
	width: 52px;
	height: 52px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	transition: .3s;
	z-index: 5;
	background: var(--secondary3);
	&:after{
		font-size: 22px;
		color: var(--accent3);
	}
	&:hover{
		background: var(--accent1);
		&:after{color: white;}
	}
}
.swiper-nav.d-flex{
	position: relative;
}
*.swiper-button-accent{
	background: var(--accent2);
	&:after{color: var(--white);}
	&:hover{
		background: var(--secondary44);
		&:after{color: var(--accent3);}
	}
}
.swiper-special-box{
	position: relative;
	.swiper-button-prev{left: -70px;}
	.swiper-button-next{right: -70px;}
	@media (max-width: 1199px) {
		padding-bottom: 75px;
		 .swiper-button-prev,
		  .swiper-button-next{
			transform: translateY(0);
			top: auto;
			bottom: 0;
		  }
	 .swiper-button-prev{left: 0;}
	 .swiper-button-next{right: 0;}
	}
}