.swiper-button-next,
.swiper-button-prev{
	width: 52px;
	height: 52px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	transition: .3s;
	z-index: 5;
	background: var(--secondary44);
	&:after{
		font-size: 16px;
		color: var(--accent3);
	}
	&:hover{
		background: white;
		&:after{color: var(--accent3);}
	}
	&.accent-hover:hover{
		@media(min-width:1024px){

			background: var(--accent1);
			&:after{color: white;}
		}
	}
}

.swiper-button-next{right:30px;}
.swiper-button-prev{left:30px;}
@media (max-width: 1023px) {
.swiper-button-next{right:20px;}
.swiper-button-prev{left:20px;}
}
.swiper-nav.d-flex{
	position: relative;
}
*.swiper-button-accent{
	background: var(--accent2);
	&:after{color: var(--white);}
	&:hover{
		background: var(--secondary44);
		&:after{color: var(--accent3);}
	}
}
.swiper-special-box{
	position: relative;
	.swiper-button-prev{left: -82px;}
	.swiper-button-next{right: -82px;}
	@media (max-width: 1919px) {
	.swiper-button-prev{left: 0;}
	.swiper-button-next{right: 0;}
	}
	@media (max-width: 1199px) {
		padding-bottom: 75px;
		 .swiper-button-prev,
		  .swiper-button-next{
			transform: translateY(0);
			top: auto;
			bottom: 0;
		  }
	 
	}
}