.tag{
	border-radius: 100px;
	padding: 8px 16px;
	width: fit-content;
	height: 38px;
	text-align: center;
	background: var(--accent1);
	font-weight: 500;
	font-size: 16px;
	color: var(--white);
	white-space: nowrap;
	&.tag--dark{background: var(--primary);}
	
}
.tags-block{
	flex-wrap: wrap;
	gap:10px;
}