extends ../layouts/layout.pug

block content
	.page-content
		include ../sections/_header.pug
		main.inner-page
			include ../sections/_about-promo.pug
			include ../sections/_about-politic.pug
			include ../sections/_benefits
			
			include ../sections/_our-team
			include ../sections/_gallery-projects
		
		include ../sections/_footer.pug
			
block variables
	-var title = "О компании";