extends ../layouts/layout.pug

block content
	.page-content
		include ../sections/_header.pug
		main.inner-page
			include ../sections/_info-promo.pug
			include ../sections/_info-preview.pug
			include ../sections/_feedback
		
		include ../sections/_footer.pug
			
block variables
	-var title = "Информационная страница";
