extends ../layouts/layout.pug

block content
	.page-content
		include ../sections/_header.pug
		main.inner-page
			include ../sections/_news-promo.pug
			include ../sections/_news-preview.pug
			include ../sections/_faq
			include ../sections/_gallery-projects
		
		include ../sections/_footer.pug
			
block variables
	-var title = "Одна новость";