extends ../layouts/layout.pug

block content
	.page-content
		include ../sections/_header.pug
		main.main-page
			include ../sections/_project-promo.pug
			include ../sections/_project-preview.pug
			include ../sections/_project-tour.pug
			include ../sections/_master-plan.pug
			include ../sections/_apartment-layouts
		include ../sections/_footer.pug
			
block variables
	-var title = "single project";
