
@use "base/_var" as *;
@use "base/_base";
@use "base/_typography";
@use "base/_buttons";
@use "base/_icons";

@use "blocks/_swiper-styles";
@use "sections/_header";
@use "blocks/_header-menu";
@use "blocks/_tags";
@use "blocks/_offer-card";
@use "sections/_promo";
@use "sections/_projects";
@use "sections/_benefits";

// @use "base/_test";
// @import "base/_grids";
// @import "base/_typography";
// @import "base/_icons";
// @import "base/_buttons";


// @import "base/_form";

// @import "blocks/_marker-list";
// @import "blocks/_tabs";



// ui
@use "ui/_ui-navigation";
