
@use "base/_var" as *;
@use "base/_base";
@use "base/_typography";
@use "base/_buttons";
@use "base/_icons";

@use "blocks/_swiper-styles";
@use "sections/_header";
@use "blocks/_header-menu";
@use "blocks/_tags";
@use "blocks/_offer-card";
@use "sections/_promo";
@use "sections/_projects";
@use "sections/_benefits";

@use "sections/_footer";

@use "sections/_project-promo";
@use "sections/_project-preview";
@use "sections/_project-tour";
@use "sections/_master-plan";
@use "sections/_apartment-layouts";
@use "sections/_building-tabs";
@use "base/_form";
@use "sections/_feedback";

@use "sections/_news";
@use "sections/_docs";
@use "sections/_news-promo";
@use "sections/additional-info";
@use "sections/blockquote";
@use "sections/faq";
@use "sections/_gallery-swiper";
@use "sections/_about-promo";
@use "sections/_about-politic";
@use "sections/_our-team";



// ui
@use "ui/_ui-navigation";
